<div class="row">
	<h1 class="title-header">DND Toolset</h1>
	<hr class="hr-dashing" />
	
	<div class="col-md-8 col-md-offset-2 text-center">
		<button type="button" class="btn btn-primary" onclick="document.location.href='/'"><< Back</button>

		<button onclick="document.location.href='/major_items/new'" class="btn btn-primary">Create New Item</button>
		
		<h2>Major Items</h2>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Name</th>
				<th>Roll</th>
				<th>Average Value</th>
				<th colspan="3"></th>
			</tr>
			
			<% @major_items.each do |major_item| %>
			<tr>
				<td><%= major_item.name %></td>
				<td><%= major_item.low %> - <%= major_item.high %></td>
				<td><%= major_item.avg_val %></td>
				<td><%= link_to 'Show', major_item_path(major_item) %></td>
				<td><%= link_to 'Edit', edit_major_item_path(major_item) %></td>
				<td><%= link_to 'Destroy', major_item_path(major_item),
								method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>