<div class="row">
	  <h1 class="title-header">DND Toolset</h1>
		<hr class="hr-dashing" />
	
	  <div class="col-md-8 col-md-offset-2 text-center">
		<p>
			<strong>Name:</strong>
			<%= @major_item.name %>
		</p>
		
		<p>
			<strong>Roll:</strong>
			<%= @major_item.low %> - <%= @major_item.high %>
		</p>
		
		<p>
			<strong>Average Value:</strong>
			<%= @major_item.avg_val %>
		</p>
			
		<%= link_to 'Back', major_items_path, class: 'btn btn-primary' %>
		<%= link_to 'Edit', edit_major_item_path(@major_item), class: 'btn btn-primary' %>
	</div>
</div>

