
<p>
	<strong>Name:</strong>
	<%= @art_item.name %>
</p>

<p>
	<strong>Roll:</strong>
	<%= @art_item.low %> - <%= @art_item.high %>
</p>

<p>
	<strong>Average Value:</strong>
	<%= @art_item.avg_val %>
</p>
	
<%= link_to 'Back', art_items_path %>
| <%= link_to 'Edit', edit_art_item_path(@art_item) %>

