<div class="row">
	  <h1 class="title-header">DND Toolset</h1>
		<hr class="hr-dashing" />
	
	  <div class="col-md-8 col-md-offset-2 text-center">
		<p>
			<strong>Name:</strong>
			<%= @minor_item.name %>
		</p>
		
		<p>
			<strong>Roll:</strong>
			<%= @minor_item.low %> - <%= @minor_item.high %>
		</p>
		
		<p>
			<strong>Average Value:</strong>
			<%= @minor_item.avg_val %>
		</p>
			
		<%= link_to 'Back', minor_items_path, class: 'btn btn-primary'  %>
		<%= link_to 'Edit', edit_minor_item_path(@minor_item), class: 'btn btn-primary'  %>
	</div>
</div>
