<div class="row">
	<h1 class="title-header">DND Toolset</h1>
	<hr class="hr-dashing" />
	
	<div class="col-md-8 col-md-offset-2 text-center">
		<button type="button" class="btn btn-primary" onclick="document.location.href='/'"><< Back</button>
		<button onclick="document.location.href='/gem_items/new'" class="btn btn-primary">Create New Gem</button>
		
		<h2>Gem Items</h2>
		
		<table class="table table-striped table-bordered">
			<tr>
				<th>Name</th>
				<th>Roll</th>
				<th>Average Value</th>
				<th colspan="3"></th>
			</tr>
			
		<% if @gem_items.any? %>
			<% @gem_items.each do |gem_item| %>
				<tr>
					<td><%= gem_item.name %></td>
					<td><%= gem_item.low %> - <%= gem_item.high %></td>
					<td><%= gem_item.avg_val %></td>
					<td><%= link_to 'Show', gem_item_path(gem_item) %></td>
					<td><%= link_to 'Edit', edit_gem_item_path(gem_item) %></td>
					<td><%= link_to 'Destroy', gem_item_path(gem_item),
									method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td colspan="4">No Records Found</td>
			</tr>
		<% end %>
		</table>
	</div>
</div>