<div class="row">
	  <h1 class="title-header">DND Toolset</h1>
		<hr class="hr-dashing" />
	
	  <div class="col-md-8 col-md-offset-2 text-center">
		<p>
			<strong>Level:</strong>
			<%= @loot_roll.level %>
		</p>
		
		<p>
			<strong>Type:</strong>
			<%= @loot_roll.loot_type %>
		</p>
		
		<p>
			<strong>Roll:</strong>
			<%= @loot_roll.low_roll %> - <%= @loot_roll.high_roll %>
		</p>
		
		<p>
			<strong>Die:</strong>
			<%= @loot_roll.die %> * <%= @loot_roll.scale %>
		</p>
		
		<p>
			<strong>Coin Type:</strong>
			<%= @loot_roll.coin_type %>
		</p>
		
		<p>
			<strong>Sub Type:</strong>
			<%= @loot_roll.sub_type%>
		</p>
		
		<%= link_to 'Back', loot_rolls_path, class: 'btn btn-primary' %>
		<%= link_to 'Edit', edit_loot_roll_path(@loot_roll), class: 'btn btn-primary' %>
	</div>
</div>

