
<p>
	<strong>Name:</strong>
	<%= @gem_item.name %>
</p>

<p>
	<strong>Roll:</strong>
	<%= @gem_item.low %> - <%= @gem_item.high %>
</p>

<p>
	<strong>Average Value:</strong>
	<%= @gem_item.avg_val %>
</p>

<%= link_to 'Back', gem_items_path %>
| <%= link_to 'Edit', edit_gem_item_path(@gem_item) %>